/* Variables */
:root {
    --primary-color: #FE6060;
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.slick-prev:before, .slick-next:before {
    display: none !important;
}

/* Logement Container */
.logement_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

    /* Image Container */
    .logement_container .image_container {
        width: 100%;
        height: 500px;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

       
        .image_container img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
            filter: brightness(90%);
        }

       
        .image_container h1 {
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-size: 24px !important;
            font-weight: bold;
            color: var(--primary-color);
            text-shadow: var(--text-shadow);
        }

    /* Global Container */
    .logement_container .global_container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        align-items: center;
        margin: 10px;
    }

        /* Sub Container 1 */
        .global_container .sub_container_1 {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            gap: 30px;
            width: 100%;
        }

            /* Logement Details */
            .sub_container_1 .logement_details {
                display: flex;
                flex-direction: column;
                align-items: baseline;
            }

            /*  Title */
            .sub_container_1 .logement_title {
                color: var(--primary-color);
                margin-bottom: 0px;
                font-weight: 400;
            }

            /* Location */
            .sub_container_1 .logement_location {
                color: var(--primary-color);
            }

            /* Tag */
            .sub_container_1 .tag {
                background-color: var(--primary-color);
                color: white;
                margin-right: 10px;
                border-radius: 10px;
                padding: 5px 20px 5px 20px;
            }

        /* Sub Container 2 */
        .global_container .sub_container_2 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
        }

            /* Host Info */
            .sub_container_2 .host_info {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
            }

            /* Host Name */
            .sub_container_2 .host_name {
                display: flex;
                align-items: center;
                color: var(--primary-color);
                font-size: 24px;
                width: 8rem;
            }

            /* Host Image */
            .sub_container_2 .host_image {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                text-align: center;
            }

    /* Dropdowns Container */
    .logement_container .dropdowns_container {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        margin: 10px;
    }

    /* Menu Dropdown Container */
    .logement_container .menu-dropdown-container {
        width: 100%;
    }

/* Media Queries */
@media (max-width: 768px) {

    /* Next Arrow */
    .next-arrow {
        left: 89%;
    }

    /* Global Container */
    .global_container {
        flex-direction: column;
        margin-bottom: 1rem;
    }

        /* Sub Container 1 */
        .global_container .sub_container_1 {
            text-align: start;
        }

        /* Sub Container 2 */
        .global_container .sub_container_2 {
            flex-direction: row-reverse !important;
            align-items: center !important;
            width: 100%;
            margin-top: 20px;
        }

            /* Host Info */
            .sub_container_2 .host_info {
                margin-bottom: 10px;
            }
}
